__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
.env
.venv/
venv/
data/fallback/*
!data/fallback/.gitkeep
data/vectorstore/*
data/videos/
!data/vectorstore/.gitkeep
.streamlit/
docs/demo/resultados/*.json
.DS_Store
.pytest_cache/
vector_store/
vector_store_app/
*.safetensors
*.sqlite3